h1 {margin-left:10%; margin-right: 10%;color: black; font-family: "Sofia", sans-serif; text-shadow: 3px 3px 3px #ababab; font-size: 140px; line-height: 160px; margin-bottom: 0px; margin-top: 40px; text-align: center; background-image:url('imagesMySite/argentinaFlag.png'); background-repeat: no-repeat; background-attachment: local; background-size:cover; background-position: center;}

#specialIl {
  display: inline;
  font-family: Poppins, sans-serif;
  font-size: 30px;
}

#specialList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  font-family: Poppins, sans-serif;
  font-size: 16px;  
   margin: 10px;
   background-color: LightBlue
}

* {
  box-sizing: border-box;
}

img {
  vertical-align: middle;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:50%
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 20%;
  width: auto;
  padding: 16px;
  margin-top: -45px;
  color: black;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 100;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 100;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: black;
  font-size: 12px;
  padding: 8px 200px 75px 500px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* 5 columns side by side */
.column {
  float: left;
  width: 10%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
  height: 115px;
  padding: 2px;
}

.active,
.demo:hover {
  opacity: 1;
}

